a:link, a:visited
{
    text-decoration: none;
    font-weight: bold;
    border-bottom: 1px dotted;
}

a:link:hover
{
    color: black;
    border-bottom: black 1px solid;
    background: #EFEFFF;
}

dd
{
    color: #000000;
}

dt
{
    color: #336699;
}

h1
{
    font-variant: smallcaps;
    letter-spacing: 5px;
    font-size: 16pt;
    display: block;
    color: #336699;
    background: url('hr-ltblue.png');
    padding: 2px 2px 2px 5px;
    border-top: 2px solid #336699;
}

#packagename
{
    font-weight: bold;
}

ul
{
    list-style-type: circle;
}

li
{
    padding: 2px;
}

dl
{
    border: 1px solid #DDDDDD;
    padding: 10px;
}

dt
{
    padding: 5px;
    font-size: 12pt;
}

hr
{
    display: none;
}

small
{
    font-size: 10pt;
}

body
{
    width: 700px;
    font-family: Helvetica, Verdana, Tahoma, sans-serif, fantasy;
    font-size: 10pt;
}

pre
{
    padding: 5px;
    border-top: 1px solid #DDDD88;
    border-left: 1px solid #DDDD88;
    border-right: 1px solid #999966;
    border-bottom: 1px solid #999966;
    background: #EEF0BB;
    font-family: Lucida Console, fixed;
    font-size: 8pt;
}

table
{
    width: 100%;
}
